* {
  max-width: 1440px;
  padding: 0;
  margin: auto;
}

body {
  font-family: "open sans", system-ui, "BlinkMacSystemFont", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue",
    sans-serif;
}

.header-one {
  width: 100%;
  height: 100px;
  background-color: #ffe3b3;
}

/* #743799; */
.search-div {
  padding-top: 10px;
}

#option-div {
  width: 10%;
  height: 45px;
  background: rgb(207, 207, 207);
  margin-left: 20%;
  border-radius: 4px 0 0 4px;
  border: 0px;
}

#search-bar {
  width: 40%;
  border: 0;

  height: 45px;
}

.header-two {
  position: relative;

  height: 60px;
  background-color: #743799;
  margin-top: 20px;
  width: 50%;
  display: flex;
  margin-left: 25%;
}

.header-two-sub {
  margin-left: 20%;
  width: 100%;
  margin-top: 20px;
}

.header-two a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0 5%;
}

.header-two a:hover {
  color: #ffe3b3;
  text-decoration: underline;
}

.banner {
  display: flex;
}

.banner-image img {
  width: 100%;
}

.banner-text {
  position: absolute;
  font-weight: bolder;
  margin-left: 5%;
  margin-top: 250px;
  width: 350px;
  color: white;
  font-size: 25px;
}

.banner-text button {
  width: 200px;
  height: 50px;
  margin-top: 50px;
  font-weight: bold;
  border: none;
}

.banner-text button:hover {
  background-color: rgb(245, 102, 7);
  color: white;
}

.category-text {
  margin-top: 100px;
  font-size: 30px;
  margin-left: 2%;
}

.category {
  display: flex;
  margin-top: 50px;
  height: 300px;
}

.category1 {
  background-color: #743799;
  width: 30%;
  height: 400px;
}

.category img {
  width: 500px;
}

.banner-two {
  display: flex;
  position: relative;
}

.banner-two-image img {
  width: 100%;
}

.banner-two-text {
  position: absolute;
  margin-left: 65%;
  margin-top: 130px;
  width: 300px;
}

.banner-two-text h2 {
  font-size: 25px;
  font-weight: bold;
}

.banner-two-text button {
  border: none;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  font-weight: bold;
}

.banner-two-text button:hover {
  background-color: #743799;
  color: white;
}

.featured-product-text {
  margin-top: 100px;
  font-size: 30px;
  margin-left: 2%;
}

.featured-product {
  height: 500px;
  display: flex;
  margin-left: 2%;
  padding-right: 2%;
}

.product1 {
  border: 1px solid rgb(212, 212, 212);
  border-radius: 5px;
  height: 600px;
  width: 25%;
  margin: 20px 5px;
}

.product1 img {
  width: 300px;
  height: 300px;
  margin-left: 6%;
  margin-top: 50px;
}

.product1 h2 {
  font-size: 18px;
  margin-top: 80px;
  margin-left: 25%;
}

.product1 h3 {
  color: rgb(245, 102, 7);
  font-size: 16px;
  margin-top: 15px;
  margin-left: 40%;
}

.product1 button {
  width: 100%;
  height: 50px;
  border: 0;
  margin-top: 62px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 800;
}

.product1 button:hover {
  background-color: #743799;
}

.product2 {
  border: 1px solid rgb(212, 212, 212);
  border-radius: 5px;
  height: 600px;
  width: 25%;
  margin: 20px 5px;
}

.product2 img {
  width: 300px;
  height: 300px;
  margin-left: 6%;
  margin-top: 50px;
}

.product2 h2 {
  font-size: 18px;
  margin-top: 80px;
  margin-left: 25%;
}

.product2 h3 {
  color: rgb(245, 102, 7);
  font-size: 16px;
  margin-top: 15px;
  margin-left: 40%;
}

.product2 button {
  width: 100%;
  height: 50px;
  border: 0;
  margin-top: 62px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 800;
}

.product2 button:hover {
  background-color: #743799;
}

.product3 {
  border: 1px solid rgb(212, 212, 212);
  border-radius: 5px;
  height: 600px;
  width: 25%;
  margin: 20px 5px;
}

.product3 img {
  width: 300px;
  height: 300px;
  margin-left: 6%;
  margin-top: 50px;
}

.product3 h2 {
  font-size: 18px;
  margin-top: 80px;
  margin-left: 25%;
}

.product3 h3 {
  color: rgb(245, 102, 7);
  font-size: 16px;
  margin-top: 15px;
  margin-left: 40%;
}

.product3 button {
  width: 100%;
  height: 50px;
  border: 0;
  margin-top: 62px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 800;
}

.product3 button:hover {
  background-color: #743799;
}

.product4 {
  border: 1px solid rgb(212, 212, 212);
  border-radius: 5px;
  height: 600px;
  width: 25%;
  margin: 20px 5px;
}

.product4 img {
  width: 300px;
  height: 300px;
  margin-left: 6%;
  margin-top: 50px;
}

.product4 h2 {
  font-size: 18px;
  margin-top: 80px;
  margin-left: 25%;
}

.product4 h3 {
  color: rgb(245, 102, 7);
  font-size: 16px;
  margin-top: 15px;
  margin-left: 40%;
}

.product4 button {
  width: 100%;
  height: 50px;
  border: 0;
  margin-top: 62px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 800;
}

.product4 button:hover {
  background-color: #743799;
}

.last {
  height: 500px;
}
